<div class="menu-perfil">
    <img id="previewed" src="{% if user.foto %}{{ user.foto.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="Foto de Perfil">
    <ul class="lista-perfil">
        <li><a href="{% url 'perfil' %}">Perfil</a></li>
        <li><a href="{% url 'ofertar' %}" class="ofertarMa"> Ofertar Material</a></li>
        <li><a href="{% url 'mis_materiales' %}">Mis Materiales</a></li>
        <li><a href="{% url 'logout' %}" id= "cerrarSesionPerfil" class="logoutS">Cerrar sesión</a></li>
    </ul>
</div>
