{% extends 'base.html' %}
{% load static %}
{% block title %}billetera{% endblock %}
{% block asides %}
    {% include 'cuenta.html' %}
{% endblock %}
{% block contenidos %}
{% include 'barraPerfil.html' %}
<div class="container22">
    <div class="billetera">
        <h1>Billetera de {{ user.nombre }}</h1>
        <h1>Saldo actual: {{ user.billetera }} Bs.</h1>
    </div>

    <!-- Mensajes de notificación -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="saldo">
        <div class="recarga-saldo">

            <!-- Recargar saldo -->
            <h3>Recargar saldo</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="accion" value="recargar"> <!-- Definir acción aquí -->
                <label for="monto_recarga">Monto:</label>
                <input type="number" name="monto_recarga" step="0.01" required>
                <button type="submit">Recargar</button>
            </form>
        </div>

        <!-- Transferir saldo -->
                


        <div class="retirar-saldo">
        <!-- Retirar saldo -->
            <h3>Retirar saldo</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="accion" value="retirar"> <!-- Acción para retirar -->
                <label for="monto_retiro">Monto:</label>
                <input type="number" name="monto_retiro" step="0.01" required>
                <button type="submit">Retirar</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'perfil.js' %}"></script>
{% endblock %}