{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block contenidos %}
    {% include 'cuenta.html' %}
    {% include 'barraPerfil.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'perfil.js' %}"></script>
    <script>
        function mostrarMisMateriales() {
            document.getElementById('contenido-dinamico').innerHTML = `
                {% include 'publicaciones.html' %}
            `;
        }
    
    </script>
{% endblock %}